$coverSize: 42px;

.track {
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 4px;
    border-radius: 8px;
    transition: background-color 0.2s ease;

    &:nth-of-type(2n) {
        background-color: rgba(0, 0, 0, 0.1);
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.cover {
    align-self: flex-start;
    border-radius: 8px;
    width: $coverSize;
    height: $coverSize;
    min-width: $coverSize;
    min-height: $coverSize;
    max-width: $coverSize;
    max-height: $coverSize;
}

.button {
    margin-inline-start: auto;
}
