$coverSize: 48px;

.track {
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 8px;
    border-radius: 8px;
    transition: background-color 0.2s ease;

    &:not(:last-of-type) {
        box-shadow: 0 2px 0 0 rgba(64, 64, 64, 0.2);
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    &.downloaded .cover::before {
        background-color: yellowgreen;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.cover {
    display: flex;
    position: relative;

    &::before {
        position: absolute;
        z-index: 1;
        content: '';
        top: 2px;
        right: 2px;
        min-width: 8px;
        min-height: 8px;
        border-radius: 50%;
        background-color: crimson;
        transform: translate(50%, -50%);
    }
}

.image {
    align-self: flex-start;
    border-radius: 8px;
    width: $coverSize;
    height: $coverSize;
    min-width: $coverSize;
    min-height: $coverSize;
    max-width: $coverSize;
    max-height: $coverSize;
}

.button {
    margin-inline-start: auto;
}
