@use 'sass:math';

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    height: 100%;
    max-height: inherit;
    min-height: 0;
}

.tabPanels {
    display: flex;
    min-height: 0;
    flex-grow: 1;
}

.tabPanel {
    min-height: 0;
    flex-grow: 1;
}

.tabList {
    flex-shrink: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border: none;
    box-shadow: none;
    background-color: var(--g-color-private-blue-50-solid);
}

.tab {
    margin: 0 !important;
    width: math.div(100%, 3);
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    height: 48px;
}
