.download {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    flex-grow: 1;
    row-gap: 16px;
    padding: 16px;
}

.label {
    margin-inline-end: 4px;
    height: 36px;
}

.textarea {
    display: flex;
    flex-direction: column;
    min-height: 0;

    :global(.g-text-area__content) {
        flex-direction: column;
    }
}

.loader {
    display: flex;
    padding-inline-end: 8px;
}
