$coverSize: 48px;

.track {
  display: flex;
  column-gap: 16px;
  align-items: center;
  block-size: 64px;
  min-block-size: 64px;
  padding: 8px;
  border-radius: 8px;
  transition: background-color 0.2s ease;

  &:not(:last-of-type) {
    box-shadow: 0 2px 0 0 rgba(64, 64, 64, 0.2);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &.downloaded .cover::before {
    background-color: yellowgreen;
  }

  &:not(.directorySelected) {
    .cover::before {
      display: none;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  min-inline-size: 0;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cover {
  position: relative;
  display: flex;

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    inset-block-start: 2px;
    inset-inline-end: 2px;
    transform: translate(50%, -50%);
    min-inline-size: 8px;
    min-block-size: 8px;
    border-radius: 50%;
    background-color: crimson;
  }
}

.image {
  align-self: flex-start;
  inline-size: $coverSize;
  min-inline-size: $coverSize;
  max-inline-size: $coverSize;
  block-size: $coverSize;
  min-block-size: $coverSize;
  max-block-size: $coverSize;
  border-radius: 8px;
}

.button {
  flex-shrink: 0;
  margin-inline-start: auto;
}
