$avatarSize: 44px;

.input {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.avatar {
  inline-size: $avatarSize;
  min-inline-size: $avatarSize;
  max-inline-size: $avatarSize;
  block-size: $avatarSize;
  min-block-size: $avatarSize;
  max-block-size: $avatarSize;
}
