@use 'sass:math';

.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inline-size: 100%;
  block-size: 100%;
  min-block-size: 0;
  max-block-size: inherit;
}

.tabPanels {
  display: flex;
  flex-grow: 1;
  min-block-size: 0;
}

.tabPanel {
  flex-grow: 1;
  min-block-size: 0;
}

.tabList {
  flex-shrink: 0;
  border: none;
  border-start-start-radius: 16px;
  border-start-end-radius: 16px;
  background-color: var(--g-color-private-blue-50-solid);
  box-shadow: none;
}

.tab {
  justify-content: center;
  inline-size: math.div(100%, 3);
  block-size: 48px;
  margin: 0 !important;
  -webkit-tap-highlight-color: transparent;
}
