.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding-inline: 16px;
    padding-block: 16px 8px;
    min-height: 0;
    flex-grow: 1;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #18181b;

    &::after {
        z-index: -1;
        position: absolute;
        content: '';
        top: 100%;
        left: 0;
        width: 100%;
        height: 48px;
        background-color: #18181b;
    }
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    overflow-y: auto;
    contain: strict;
    flex-grow: 1;
}

.virtualizer {
    width: 100%;
    position: relative;
}

.virtualizerContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.searchIcon {
    display: flex;
    padding-inline-end: 8px;
}
