.header {
    display: flex;
    align-items: center;
    column-gap: 16px;
    justify-content: space-between;
}

.likes {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    flex-grow: 1;
    row-gap: 16px;
    height: 100%;
}

.loader {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    border-top: 1px solid #aaaaaa;
    padding-top: 16px;
    padding-inline-end: 8px;
    min-height: 0;
}

.likesList {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    overflow-y: auto;
}
