.header {
    display: flex;
    align-items: center;
    column-gap: 16px;
    justify-content: space-between;
    padding: 16px;
    background-color: #101010;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.likes {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    flex-grow: 1;
    row-gap: 16px;
    height: 100%;
}

.loader {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    max-height: 64px;
}

.progress {
    position: fixed;
    inset-inline: 0;
    inset-block: 0;
}
